<div class="container">
    <div class="row border border-dark rounded start">
        <h1><b>Educación</b></h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor= "let Educacion of educacion">
                        <td><h3>{{Educacion.nombreE}}</h3></td>
                        <td>{{Educacion.descripcionE}}</td>
                        
                    </tr>
                </tbody>
            </table>
        
        </div>
    </div>
</div>