<div class="container">
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="50"
            [radius]="65"
            [unitsFontSize]="'80'"
            [titleFontSize]="'35'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#FFF700'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [renderOnClick]="false"
            [subtitle]="'Percent'"
            [showSubtitle]="false"
            [imageSrc]="'https://files.catbox.moe/o0zppy.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="50"
            [radius]="65"
            [unitsFontSize]="'25'"
            [titleFontSize]="'35'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#FFF700'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [renderOnClick]="false"
            [showSubtitle]="false"
            [imageSrc]="'https://files.catbox.moe/uf2a3x.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="15"
            [radius]="65"
            [unitsFontSize]="'25'"
            [titleFontSize]="'35'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#FF0000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [renderOnClick]="false"
            [showSubtitle]="false"
            [imageSrc]="'https://files.catbox.moe/ivvf3o.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="85"
            [radius]="65"
            [unitsFontSize]="'25'"
            [titleFontSize]="'35'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [renderOnClick]="false"
            [showSubtitle]="false"
            [imageSrc]="'https://files.catbox.moe/iu5nuv.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            ></circle-progress>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 text-center">
            <circle-progress
            [percent]="85"
            [radius]="65"
            [unitsFontSize]="'25'"
            [titleFontSize]="'35'"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="800"
            [renderOnClick]="false"
            [showSubtitle]="false"
            [imageSrc]="'https://files.catbox.moe/vh7w21.png'"
            [showImage]="true"
            [imageHeight]="80"
            [imageWidth]="80"
            ></circle-progress>
        </div>
    </div>
    

</div>