<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="https://files.catbox.moe/2va8in.jpg" class="image-fluid" id="fotoPerfil">
            
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
            <p id="titulo">Full Stack Developer Jr</p>
            
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 border border-dark rounded start"> 
            <span>
                <h3>Acerca de mí</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime numquam similique, modi perspiciatis dolor dolores in, laborum quod obcaecati nobis at amet neque praesentium voluptates quisquam ad adipisci tempore explicabo.</p>
            </span>
    
        </div>
    </div>

</div>
