<div class="row">
    <div class="container">
        <div class="logo">
            <img src="https://files.catbox.moe/iu3nkf.png" id="logoAr">
            

        </div>
        <div class="socialNets">
            <a href="https://github.com/adrielba" target="_blank"><img src="https://files.catbox.moe/hz21xh.png"></a>
            <a href="https://www.facebook.com/adriel.barria1" target="_blank"><img src="https://files.catbox.moe/e0kjhv.png" id="facebook"></a>
            <a href="https://www.linkedin.com/in/adriel-barria-06b934243/" target="_blank"><img src="https://files.catbox.moe/5cf5qq.png" id="linkedin"></a>
        </div>
    </div>
</div>
