<div class="container">
    <div class="row border border-dark rounded start">
        <h1><b>Experiencia</b></h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <table class="table">
                <tbody>
                    <tr *ngFor= "let Experiencia of expe">
                        <td><h1>{{Experiencia.nombreE}}</h1></td>
                        <td>{{Experiencia.descripcionE}}</td>
                        
                    </tr>
                </tbody>
            </table>
    
        </div>
    </div>
</div>

