<div class="container">
    <div class="row">
        <h1>Proyectos</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h3>Proyecto01</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora autem et doloremque iusto? Iure neque corrupti maxime pariatur illum quaerat praesentium deleniti cupiditate, et natus voluptates sunt ad quae distinctio?</p>
    
    
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
                <img src="https://files.catbox.moe/2va8in.jpg" class="img-fluid img-proyecto">

            </div>
    

        </div>
    </div>

</div>